@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.satisfyFont {
  font-family: 'Satisfy', cursive;
}

.fira {
  font-family: 'Fira Sans', sans-serif;
}

a.active {
  border-bottom: 4px solid orangered;
  border-radius: 5px;
}

a:hover {
  background-color: orangered;
  border-radius: 5px;
  padding: 0px 4px;
}